@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

:root {
  --ui-radius: 0.5rem;
  --ui-primary: black;
}

:root,
.light {
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-neutral-950);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  --ui-text: var(--ui-color-neutral-100);
  --ui-text-highlighted: var(--ui-color-neutral-50);
  --ui-primary: white;
}

.shiki,
.shiki span {
  background-color: transparent !important;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
