name: CR

on:
  push:
  pull_request:
    branches: [main]
    paths-ignore:
      - '.github/**'
      - 'tests/**'
      - 'docs/**'
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Build
        run: nr build

      - run: nlx pkg-pr-new publish
